---
http_interactions:
- request:
    method: post
    uri: https://login.live.com/oauth20_token.srf
    body:
      encoding: UTF-8
      string: client_id=client_id_foo&client_secret&code=code-toto&grant_type=authorization_code&redirect_uri=https%3A%2F%2Flogin.live.com%2Foauth20_desktop.srf&redirect_uri=https%3A%2F%2Flogin.live.com%2Foauth20_desktop.srf
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","expires_in":3600,"scope":"bingads.manage","access_token":"wedontcare","refresh_token":"refresh_token_totoAAA","user_id":"AAAAAAAAAAAAAAAAAAAAAAAAAAAA"}'
  recorded_at: Tue, 25 Apr 2017 00:00:20 GMT
recorded_with: VCR 3.0.3
