---
http_interactions:
- request:
    method: post
    uri: https://login.live.com/oauth20_token.srf
    body:
      encoding: UTF-8
      string: client_id=app_id_foo&client_secret&grant_type=refresh_token&refresh_token=foobarbaz
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","expires_in":3600,"scope":"bingads.manage","access_token":"dontcare","refresh_token":"refreshtokenAAAfoo","user_id":"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"}'
  recorded_at: Mon, 24 Apr 2017 22:13:58 GMT
recorded_with: VCR 3.0.3
